.v-enter {
  opacity: 0;
}
.v-enter-active {
  transition: all 300ms ease-in-out;
}
.v-leave-active {
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.rotate-enter {
  opacity: 0;
}
.rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
